body {
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    background: url('bluebg.jpeg') no-repeat rgb(55, 203, 203);
    background-size: cover;
}

header {
    background: url('bigfish.png') no-repeat right;
}

/*.other {
    background-image: url('bluebg.jpeg'); 
    background-repeat: no-repeat;
    background-color: rgb(55, 203, 203);
} */

.mylist {
    list-style-image: url('dot.png');
}