body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    margin: 0;
}

header {
    background-color: #E3D26F;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
}

nav a {
    color: #4E3822;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

.current {
    color: #CA895F;

}

.logocontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#logo {
    width: 200px;
    margin: 10px;
    margin-left: 10%;
    border-radius: 15px;
}

.graybox {
    background-color: ghostwhite;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    color: #4E3822;
}

.try {
    background-color: #E3D26F;
    text-decoration: none;
    color: #CA895F;
    padding: 10px;
    border: thin solid;
    border-radius: 10px;
}




@media ONLY screen AND (max-width: 400px) {
    header {
        flex-direction: column;
    }

    h1 {
        margin-bottom: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
    }
    nav a {
        margin: 0;
    }

    .logocontainer {
        flex-direction: column;
        align-items: center;
    }
    
    .graybox {
        margin: auto;
    }
}