body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: cadetblue;
    color: wheat;
}

.sidebar h3 {
    margin: 0;
}

main h2 {
    margin: 0;
}

header h1 {
    margin: 0;
}

article {
    font-family: 'Times New Roman', Times, serif;
}

nav {
    display: none;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: bisque;
    color: cadetblue;
}

nav a:hover {
    background-color: cadetblue;
    color: bisque;
}


.main-row {
    display: flex;
}

.sidebar {
    width: 200px;
}

.card {
    border: thin solid black;
    box-shadow: 3px 3px 5px pink;
    width: 200px;
    margin: 5px;
}

.card img {
    width: 100%;
}
.row {
    display: flex;
    flex-flow: row wrap;
}