<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Trip to Jeju</h1>
        </header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Seongsan Ilchulbong</a>
            <a href="#">Willala</a>
            <a href="#">Soesokkak Estuary</a>
            <a href="#">Yongmeorihaean Coast</a>
            <a href="#">Arte Museum</a>
        </nav>
        <main>
            <h2>Seongsan Ilchulbong</h2>
            <figure id="mainphoto">
                <img src="seongsan.jpg" alt="Seong-san Il-chul-bong">
                <figcaption>The photo at the Seongsan Ilchulbong</figcaption>
            </figure>
            <p id="special">Seongsan Ilchulbong was once a small volcanic island located 1 kilometer away from Jeju. Later, accumulated volcanic ash formed a narrow path connecting the island to Jeju, which was visible only at low tide. Nowadays, you can use a road to get there without waiting for the tide.</p>
            <div class="clear"></div>
            <p>Since it is located in the far east, many people go there to watch the sunrise, and the name "Ilchul" comes from the word "sunrise." I didn't get to catch the sunrise but the scenery at the top was worth it. For those who plan to hike there, DO NOT CLIMB TOO FAST! Although it is a small mountain, my legs were burning for the rest of the trip in Jeju.</p>
        </main>
    </div>
    <footer>
        <p>&copy; 2025 Seongeun Lee</p>
    </footer>
</body>
</html>